.lesson-four-task-one button:hover{
    color: red;
}
.lesson-four-task-two > h1.title:hover {
    color: green;
}
div.lesson-four-task-three>a.link:visited {
    color: yellow;
}
div.lesson-four-task-four>div#sidebar>a.link:visited {
    color: red;
}
div.lesson-four-task-five>button.btn:active {
    background: blue;
}
div.lesson-four-task-six>button.btn:focus {
    background: orange;
    color: orange;
}
div.lesson-four-task-seven>#target:target {
    background: green;
    color: white;
}
div.lesson-four-task-eight>input[type='checkbox']:checked ~ div#target{
    background: blue;
    color: white;
}
div.lesson-four-task-nine>p:lang(uk), p:last-child{
    color: blue;
}
.lesson-four-task-ten>form>div>input#username:enabled {
    color: red;
    background: yellow;
}
.lesson-four-task-ten>form>div>input#password:enabled {
    color: red;
    background: yellow;
}
.lesson-four-task-eleven>input:disabled {
    background: yellow;
}
.lesson-four-task-twelve>input:read-write {
    background: yellow;
}
.lesson-four-task-thirteen>input:read-only {
    background: yellow;
}
.lesson-four-task-fourteen>input:valid {
    background: green;
}
.lesson-four-task-fourteen>input:invalid {
    background: red;
}
.lesson-four-task-fifteen>form>textarea:optional {
    background: red;
}
.lesson-four-task-sixteen>form>input:out-of-range {
    color: red;
}
.lesson-four-task-seventeen>form>input:in-range {
    color: red;
}
.lesson-four-task-eighteen>input:placeholder-shown {
    background: red;
}
.lesson-four-task-nineteen>div>button:focus-within {
    color: white;
    background: yellow;
}
.lesson-four-task-twenty>form>label>input:invalid {
    background: red;
}